.image{
    width: 100%;
    height: auto;
    position: relative;
}
.sectionCapa{
    display: flex;
    position: relative;
}
.sectionContent{
    position: absolute;
    color: white;
    flex-wrap: wrap;
    top: 40vh;
    left: 250px;
    width: 25vw;
    height: auto;
}
.p{
    font-size: 1.5rem;
    margin: 30px 0px;
    font-weight: normal;
}
.h1{
    font-size: 2.7rem;
    font-weight: 600;
}
@media(min-width: 300px) and (max-width: 480px){
    .sectionContent{
        top: 20px;
        left: 39px;
        width: 30vw;
        margin-bottom: 30px;
    }
    .sectionContent p{
        font-size: 0.6rem;
        margin: 10px 0 10px 0;
        overflow: hidden;
    }
    .sectionContent h1{
        font-size: 0.9rem;
    }
}